* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  background-color: #2a2a2a;
  color: #fff;
}

.jump-name {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.jump-name span {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 1%;
}

.active {
  transition: 0.25s ease;
  animation: jump 2s ease-in 2;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
    transform: rotate(180deg);
  }
  35% {
    color: violet;
    transform: rotate(-170deg);
  }

  100% {
    color: initial;
    transform: scale(1.5);
    transform: translate(0, -18rem);
  }
}
